[Desktop Entry]
Name={{product_name}}
Comment=Buchhaltung für Freiberufler & Kleinunternehmer (§19 UStG)
Exec={{exec}} %u
Icon={{icon}}
Type=Application
Categories=Office;Finance;Accounting;
StartupWMClass=de.rechnungsfee.app
Keywords=Rechnung;Buchhaltung;Kassenbuch;Freiberufler;GoBD;Steuer;Kleinunternehmer;
Terminal=false
